[Unit]
Description=Service that checks for updates and rebuilds the packages on updates

[Service]
Type=oneshot
User=builder
Group=builder
ExecStart=/usr/bin/bash /root/custom-packages-updater/custom-packages-updater.sh
